<div class="container" style="margin-top: 5%">
  <div class="form-group">
    <label for="student-id">รหัสนิสิต</label>
    <input type="text" class="form-control" id="student-id" [(ngModel)]="studentId">
  </div>
  <div>{{ studentId}}</div>
  <div class="form-group">
    <label for="name">ชื่อ</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="last-name">นามสกุล</label>
    <input type="text" class="form-control" id="last-name" [(ngModel)]="lastName">
  </div>
  <button type="button" class="btn btn-primary" (click)="onAddStudent()">Save</button>
  <div style="margin-top: 5%">
    <app-view-students *ngIf="0 < student.length" [students]="student" (indexDeleteStudent) = "onIndexDeleteStudent($event)"></app-view-students>
  </div>
  <!-- <div>{{student | json}}</div>-->
  <!-- <div *ngIf="0 < student.length" style="margin-top: 5%;">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ลำดับ</th>
          <th scope="col">รหัสนิสิต</th>
          <th scope="col">ชื่อ</th>
          <th scope="col">นามสกุล</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let students of student; let i = index">
          <th scope="row">{{(i+1)}}</th>
          <td>{{ students.studentId}}</td>
          <td>{{ students.name}}</td>
          <td>{{ students.lastName}}</td>
          <td><button type="button" class="btn btn-primary" (click)="onDeleteStudent(i)">Delete</button></td>

        </tr>
      </tbody>
    </table>
  </div> -->
</div>
<!-- <app-view-students [name]="'CS KPS'"></app-view-students>
<app-view-students [name]="'KU KPS'"></app-view-students> -->