<!-- {{ studentList | json }} -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ลำดับ</th>
      <th scope="col">รหัสนิสิต</th>
      <th scope="col">ชื่อ</th>
      <th scope="col">นามสกุล</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let students of studentList; let i = index">
      <th scope="row">{{(i+1)}}</th>
      <td>{{ students.studentId}}</td>
      <td>{{ students.name}}</td>
      <td>{{ students.lastName}}</td>
      <td><button type="button" class="btn btn-primary" (click)="onDeleteStudent(i)">Delete</button></td>

    </tr>
  </tbody>
</table>